@use "../global/variables";

.container {
  min-width: 320px;
  margin-left: 0;
  margin-right: 0;
  padding: 0 20px;

  @media (min-width: variables.$min-tablet-width) {
    min-width: variables.$min-tablet-width;
  }

  @media (min-width: variables.$min-desktop-width) {
    margin-left: 0;
    margin-right: 0;
    padding: 0 40px;
    max-width: variables.$max-desktop-width;
  }
}
