@use "../global/variables";

.order-form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.order-form__title {
  padding: 0 0 22px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

@media (min-width: variables.$min-tablet-width) {
  .order-form__title {
    padding: 0 0 19px;
  }
}
