$base-white: #ffffff;
$base-grey: #bdbdbd;
$base-black: #333333;
$base-secondary: #f0ebff;
$primary-opacity: rgba(120, 89, 207, 0.25);
$blue-primary: #7859cf;
$blue-lighter: #9070ec;
$blue-darker: #593cac;
$light-grey: #e2e2e2;
$lightest-grey: #f8f8f8;
$flat-white: #f3ebe1;
$lavender-latte: #eae6fc;
$espresso: #e5e6e8;

$min-mobile-width: 320px;
$min-tablet-width: 768px;
$min-desktop-width: 1024px;
$max-desktop-width: 1440px;

$font-main: "Montserrat", "Arial", sans-serif;
